body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191516;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 4rem;
  height: 100%;
}

.todo-container {
  margin:4rem auto;
  padding:2rem 3rem 3rem;
  max-width:500px;
  background: #846B8A;
  color:#F7D4BC;
  box-shadow:-20px -20px 0px 0px rgba(201, 218, 234,.1);
  border-radius: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todo-input {
  background-color: white;

}

.App-header {
  text-align:left;
  font-weight:normal;
  font-size:1.2rem;
  letter-spacing:0.05em;
  border-bottom:1px solid #F7D4BC;
}

.App-header span {
  display:block;
  font-size:0.8rem;
  margin-bottom:0.7rem;
  margin-left:3px;
  margin-top:0.2rem;
}

.todo-row {
  display:flex;
  width: 100%;
  margin:0 -3rem 4px;
  justify-content:space-around;
  align-items:center;
  background:rgba(255,255,255,0.1);
}

.row {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.row-p {
  width: 60%;
}
.icons {
  display: flex;
  align-items: center;
}

.delete-icon, .edit-icon {
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
}

.todo-form {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 10px;
}

.todo-button {
  width: 50%;
  display: inline-block;
  background: transparent;
  border: 1px solid #F7D4BC;
  border-radius: 4px;
  color:#F7D4BC;
  height: 4rem;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  z-index: 1;
}

.todo-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.todo-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.todo-button:hover {
  color: white;
}

.todo-button:hover:before {
  top: -35%;
  background-color: #F7D4BC;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.todo-button:hover:after {
  top: -45%;
  background-color: #F7D4BC;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}